
body {
    margin: 0%;
}

.site-header {
    background-color: midnightblue; /* Blue background */
    padding: 16px 24px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.nav-menu {
    display: flex;
    justify-content: center;
    gap: 50px; /* space between options */
}

.nav-menu a {
    color: whitesmoke; /* white text */
    text-decoration: none;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font: 200;
}

.nav-menu a:hover {
    text-decoration: solid;
}

.site-index-body {
}

.site-players-body {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.site-schools-body {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.white-on-blue {
    background-color: silver;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.blue-on-white {
    color: #1e73be;
    background-color: silver;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}