
body {
    margin: 0%;
}

.site-header {
    background-color: #1e73be; /* grey background */
    padding: 16px 24px;
}

.logo {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-nav {
    display: grid;
    grid-template-columns: 20% 40% 20%;
}

.nav-menu {
    display: flex;
    justify-content: center;
    gap: 50px; /* space between options */
}

.nav-menu a {
    color: whitesmoke; /* blue text */
    text-decoration: none;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font: 200;
}

.nav-menu a:hover {
    text-decoration: solid;
}