
body {
    margin: 0%;
}

.site-header {
    background-color: #1e73be; /* grey background */
    padding: 16px 24px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.nav-menu {
    display: flex;
    justify-content: center;
    gap: 50px; /* space between options */
}

.nav-menu a {
    color: whitesmoke; /* white text */
    text-decoration: none;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font: 200;
}

.nav-menu h3 {
    color: whitesmoke; /* white text */
    text-decoration: none;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font: 200;
}

.nav-menu a:hover {
    text-decoration: solid;
}

.nav-menu h3:hover {
    text-decoration: solid;
}