
.site-header {
  background-color: gray; /* grey background */
  padding: 16px 24px;
}

.nav-menu {
  display: flex;
  gap: 24px; /* space between options */
}

.nav-menu a {
  color: #1e73be; /* blue text */
  text-decoration: none;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  font: 100;
}

.nav-menu a:hover {
  text-decoration: solid;
}